@font-face {
    font-family: 'Orator';
    src: url('OratorStd.otf') format("opentype");
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
   font-family: Open Sans, Helvetica, Arial, sans-serif;
	margin: 0 auto;
    background: #c7e7dc;
}

#navlinks {
    display: none;
/*	border: 1px solid black;*/
    margin-top: -40px;
	position: relative;
	cursor: pointer;

}

#navban {
    position: relative;
    display: none;
}

#navbg {
	background-color: white;
    z-index: 1;
    width: 100%;
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	margin: auto;
}

#nav
{
	position: absolute;
    z-index: 2;
	top: 50%;
	width: 100%;
	margin-top: -120px;
	height: 240px;
/*	border: 1px solid black;*/
}

/* This class is added on scroll */
#navlinks.fixed {
	position: fixed;
	top: 0;
    margin-top: 0px;
    width: 100%;
	z-index: 3;
    background-color: white;
}

button {
    display: block;
    margin: auto;
}


.icon
{
    width: 250px;
    height: 145px;
    margin: 15px;
    border: 1px solid #cccccc;
}

.cover
{
    width: 200px;
    margin: 15px;
    border: 1px solid #cccccc;
}

.portfolioCoverDiv
{
    float: left;
}

.portfolioDescriptionDiv
{
    float: left;
    margin-top: 20px;
    width: 190px;
    text-align: left;
}

.portfolioDescriptionDiv a
{
}

.portfolioDescriptionDiv p
{
    font-size: 12px;
}

#content p
{
    color: #252727;
    line-height: 23px;
    font-size: 14px;
}

h1
{
    font-family: Orator;
    font-size: 24px;
    color: #fff;
}

h2 {
    font-family: Orator;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: -0.4em;
    text-align: center;
    font-size: 45px;
}

h3
{
    font-family: Orator;
    color: #252727;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

h3.resume {
    text-align: left;
    font-size: 20px;
}

ul {
    margin-left: -30px;
    color: #252727;
    line-height: 23px;
    font-size: 14px;
}

li {
    color:#47deb5;
}

li span {
    color:#000;

}

.gallery_cell     a {color: #6E6E6E;}

.gallery_cell:hover
{
  border: 1px solid #47deb5;
}

.gallery_cell
{
    text-align: center;
    float:left;
    padding-bottom: 7px;
    margin-bottom: 10px;
    height: 193px;
    color: #6E6E6E;
    border: 1px solid white;
}


.portfolio_cell:hover
{
  border: 1px solid #47deb5;
}

.portfolio_cell
{
    text-align: center;
    float:left;
    padding-bottom: 7px;
    margin-bottom: 10px;
    width: 425px;
    color: #6E6E6E;
    border: 1px solid white;
    height: 292px;
}

#supercontent
{
	padding-top: 170px;
	left: 0;
	right: 0;
	margin: auto;
/*	display: none;*/
}

#content
{
/*    margin: 20px;*/
    margin-bottom: 5px;
    padding: 20px;
/*    height: 1000px;*/
}

#page
{
    width: 470px;
    margin: auto;
    text-align: justify;
}

#main
{
    width: 900px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #e8e8e8;
}

#me
{
    display: none;
    float: left;
    margin-left: 130px;
    margin-top: -75px;
    border-radius: 50%;
    border: 6px solid white;
    height: 150px;
    width: 150px;
    z-index: 20;
}

img.blogs {
    float: left;
    margin-right: 10px;
    filter: grayscale(25%);
    border: 6px solid white;
}

#banner
{
    margin: 0 auto;
}

.icons {
    height:30px;
}

.place {
    font-style: oblique;
    font-family: Orator;
}

.date 
{
    font-size: 16px;
    font-family: Orator;
}

.skills 
{
    font-size: 12px;
    font-family: Orator;
}

#des {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -30px;
}

#assignments p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.center
{
    text-align: center;
}


a:link {color: #6f6f6f;
    text-decoration: none;
    font-family: Orator;
    text-transform: uppercase;}      /* unvisited link */
a:visited {color: #6e6e6e;text-decoration: none}  /* visited link */
a:hover {    color: #6E6E6E;
    text-decoration: none;
    font-style: oblique;}  /* mouse over link */
a:active {color: #fff;text-decoration: none}  /* selected link */

#nav a:link {color:#47deb5;text-decoration: none;
}
#nav a:visited {color: #47deb5;text-decoration: none}
#nav a:active {color: #47deb5;text-decoration: none}
