@font-face {
    font-family: 'Orator';
    src: url('/files/OratorStd.otf') format("opentype");
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background: #c7e7dc;
}

#navlinks {
    display: none;
    /*	border: 1px solid black;*/
    margin-top: -40px;
    position: relative;
    cursor: pointer;
}

#navban {
    position: relative;
    display: none;
}

#navbg {
    background-color: white;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

#nav {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
    margin-top: -120px;
    height: 240px;
}

/* This class is added on scroll */

#navlinks.fixed {
    position: fixed;
    top: 0;
    margin-top: 0px;
    width: 100%;
    z-index: 3;
    background-color: white;
}

button {
    display: block;
    margin: auto;
    background: none;
    border: 1px dashed #908f8f;
    font-family: Orator;
    text-transform: lowercase;
    font-size: 13px;
    color: #908f8f;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
    padding-bottom: 1px;
}


.icon {
    width: 250px;
    height: 145px;
    margin: 15px;
    border: 1px solid #cccccc;
}

#email {
    margin-top: 5px;
}

#content p {
    color: #252727;
    line-height: 23px;
    font-size: 14px;
    margin-top: 10px;
}

h1 {
    font-family: Orator;
    font-size: 24px;
    color: #fff;
}

h2 {
    font-family: Orator;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
}

h3.copy {
    margin-top: 10px;
    margin-bottom: -0.4em;
    
}

h3 {
    font-family: Orator;
    color: #252727;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}


ul {
    margin-left: -30px;
    color: #252727;
    line-height: 23px;
    font-size: 14px;
}

/*li {
    color: #47deb5;
}

li span {
    color: #000;
}*/

.samples {
    margin-bottom: 10px;
}

.samples p {
    margin-bottom: 2px;
    font-style: oblique;
    font-family: Orator;
    font-size: 20px;
}

.samples#emailsample {
    text-align: center;
}

#works {
    margin-left: 120px;
    margin-right: 120px;
}

#images {
    margin-left: 120px;
}

#images img {
    width: 300px;
}

#supercontent {
    padding-top: 170px;
    left: 0;
    right: 0;
    margin: auto;
    /*	display: none;*/
}

#content {
    /*    margin: 20px;*/
    margin-bottom: 5px;
    padding: 20px;
    /*    height: 1000px;*/
}

#page {
    width: 470px;
    margin: auto;
    text-align: justify;
}

#me {
    display: none;
    float: left;
    margin-left: 130px;
    margin-top: -75px;
    border-radius: 50%;
    border: 6px solid white;
    height: 150px;
    width: 150px;
    z-index: 20;
}

img.blogs {
    float: left;
    margin-right: 10px;
    filter: grayscale(25%);
    border: 6px solid white;
}

#banner {
    margin: 0 auto;
}

.icons {
    height: 30px;
}

.place {
    font-style: oblique;
    font-family: Orator;
    font-size: 20px;
    text-align: left;
}

.date {
    font-size: 16px;
    font-family: Orator;
    text-align: left;
}

.update {
    font-size: 16px;
    font-family: Orator;
    text-align: right;
}

.resume {
    margin-top: 25px;
}

.skills {
    font-size: 12px;
    font-family: Orator;
}

#des {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -30px;
}

#assignments p {
    margin-bottom: 5px;
    margin-top: 5px;
}


hr {
    border: 1px dotted white;
    margin-top: 20px;
}


.center {
    text-align: center;
}


a:link {
    color: #6f6f6f;
    text-decoration: none;
    font-family: Orator;
    text-transform: uppercase;
}

a:visited {
    color: #6e6e6e;
    text-decoration: none
}

a:hover {
    color: #6E6E6E;
    text-decoration: none;
    font-style: oblique;
}

a:active {
    color: #fff;
    text-decoration: none
}

#images:hover {
    cursor: pointer;
}

#nav a:link {
    color: #47deb5;
    text-decoration: none;
}

#nav a:visited {
    color: #47deb5;
    text-decoration: none
}

#nav a:active {
    color: #47deb5;
    text-decoration: none
}

#myModal a:hover {
    font-style: normal;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#works .column {
    flex: 25%;
    padding: 0 4px;
    max-width: none;
}

/* Create four equal columns that sits next to each other */

.column {
    flex: 25%;
    max-width: 22%;
    padding: 0 4px;
}

#images .column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 0.8); 
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 1200px;
}

/* The Close Button */

.close {
    color: white;
    position: fixed;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 60px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
